<a href="https://colab.research.google.com/github/DANIduran111123/ejercicios-3/blob/main/for_1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# ejercicio no1

print("biemvenidos a google colaboratori")

suma = 0
serie = list(range(1,11))
for i in range(1,11):
  suma = suma + i

  print("la suma es: " + str(suma))
  print(serie)

biemvenidos a google colaboratori
la suma es: 1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 3
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 6
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 15
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 21
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 28
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 36
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 45
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
la suma es: 55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
print("biemvenido a google colab ")

#ejercicio no2

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

biemvenido a google colab
1
2
3
4
5
6
7
8
9
10

In [6]:
#ejercicio no 3

i = 1
while (i <= 10):
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

In [7]:
# ejercicio no4

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
#ejercicio no5

mi_lista = (1,2,3,4,5,6,7,8,9,10)
for i in mi_lista:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
#ejercicio 6

mi_lista = (1,2,3,4,5,6,7,8,9,10)
for i in mi_lista:
  print(f"{i}guanenta 200 años!")

1guanenta 200 años!
2guanenta 200 años!
3guanenta 200 años!
4guanenta 200 años!
5guanenta 200 años!
6guanenta 200 años!
7guanenta 200 años!
8guanenta 200 años!
9guanenta 200 años!
10guanenta 200 años!

In [10]:
# ejercicio 7

dias_semana = ["lu,ma,mi,ju,vi,sa,do"]
for i in dias_semana:
  print(i)

lu,ma,mi,ju,vi,sa,do

In [12]:
#ejercicio 8

mi_listica = [1, 3.14, 9, True, "daniela", 8, "guanenta"]
for i in mi_listica:
  print(i)

1
3.14
9
True
daniela
8
guanenta

In [13]:
#ejercicio 9

nombre = input("dijite su nombre")

for i in nombre:
  print(i)

dijite su nombredaniela
d
a
n
i
e
l
a

In [14]:
#ejercicio 10

nombre = input("dijite su nombre")

for i in nombre:
  if i == "e":
   print("*")
  else:
    print(i)

dijite su nombredaniela
d
a
n
i
*
l
a

In [18]:
#ejercicio 11

nombre = input("dijite su nombre ")

for i in nombre:
  print(i.upper())

dijite su nombre DANIELA
D
A
N
I
E
L
A

EJERCICIO FOR

In [19]:
# ejercicio 1

numeros = [20, 21, 30, 41, 50, 51, 20]

for numero in numeros:
    if numero % 10 != 1:
        print(numero)

20
30
50
20

In [ ]:
# ejercicio 2

for _ in range(1000):
    print("Programación")

In [16]:
#ejercicio 3


meses = {
    "E": "Enero",
    "F": "Febrero",
    "M": "Marzo",
    "A": "Abril"
}

iniciales_meses = ["E", "F", "M", "A"]

for inicial in iniciales_meses:
    print(meses[inicial])

Enero
Febrero
Marzo
Abril

In [15]:
#ejercicio 4


texto = input("Ingrese el texto: ")
vocales = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}
for letra in texto:
    if letra in vocales:
        vocales[letra] += 1
for vocal, count in vocales.items():
    print(f"{vocal}: {count}")

Ingrese el texto: casA
a: 1
e: 0
i: 0
o: 0
u: 0
A: 1
E: 0
I: 0
O: 0
U: 0

#ejercicio 5

```
# Esto tiene formato de código
```



1. **Inicio:** Se representa con un óvalo que indica el inicio del bucle.
2. **Inicialización:** Se utiliza un rectángulo para indicar la inicialización del bucle, donde se establecen las condiciones iniciales, como la asignación de un valor inicial a la variable de control del bucle.
3. **Condición de continuación:** Se utiliza un rombo para representar la evaluación de la condición de continuación del bucle. Si la condición es verdadera, el flujo sigue adelante; de lo contrario, el bucle se termina.
4. **Cuerpo del bucle:** Se representa con otro rectángulo que contiene las instrucciones que se ejecutan repetidamente mientras la condición de continuación sea verdadera.
5. **Actualización de la variable de control:** Después de cada iteración del bucle, se actualiza la variable de control para acercarse a la condición de terminación.
6. **Fin:** Se utiliza un óvalo para indicar el fin del bucle.

In [20]:
# ejercicio 6


pares, impares = sum(1 for _ in range(20) if int(input("Ingrese un número entero: ")) % 2 == 0), 20
print(f"Total de números pares: {pares}")
print(f"Total de números impares: {impares - pares}")

Ingrese un número entero: 10
Ingrese un número entero: 11
Ingrese un número entero: 12
Ingrese un número entero: 13
Ingrese un número entero: 14
Ingrese un número entero: 15
Ingrese un número entero: 16
Ingrese un número entero: 17
Ingrese un número entero: 18
Ingrese un número entero: 20
Ingrese un número entero: 21
Ingrese un número entero: 22
Ingrese un número entero: 23
Ingrese un número entero: 24
Ingrese un número entero: 25
Ingrese un número entero: 26
Ingrese un número entero: 27
Ingrese un número entero: 28
Ingrese un número entero: 2
Ingrese un número entero: 29
Total de números pares: 11
Total de números impares: 9

In [21]:
#ejercicio 7

multiplos_7 = sum(1 for num in range(1000, 5001) if num % 7 == 0)
multiplos_9 = sum(1 for num in range(1000, 5001) if num % 9 == 0)
print(f"Total de múltiplos de 7: {multiplos_7}")
print(f"Total de múltiplos de 9: {multiplos_9}")

Total de múltiplos de 7: 572
Total de múltiplos de 9: 444

In [22]:
#ejercicio 8

import random
N = int(input("Ingrese el número de dados a lanzar: "))
frecuencia = {i: 0 for i in range(1, 7)}
[frecuencia.update({cara: frecuencia.get(cara, 0) + 1}) for _ in range(N) if (cara := random.randint(1, 6))]
[print(f"Cara {cara}: {frecuencia[cara]} {'*' * frecuencia[cara]}") for cara in frecuencia]

Ingrese el número de dados a lanzar: 14
Cara 1: 1 *
Cara 2: 2 **
Cara 3: 3 ***
Cara 4: 3 ***
Cara 5: 2 **
Cara 6: 3 ***

[None, None, None, None, None, None]

In [23]:
# ejercicio 9


n = int(input("Ingrese un número entero no negativo: "))
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print(f"El factorial de {n} es: {factorial}")

Ingrese un número entero no negativo: 45
El factorial de 45 es: 119622220865480194561963161495657715064383733760000000000

In [24]:
# ejercicio 10


for i in range(1, 11):
    print(i ** 2, end=", " if i < 10 else "")

1, 4, 9, 16, 25, 36, 49, 64, 81, 100